<!-- core/templates/core/home.html -->

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subida de Archivos</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
</head>
<body>
    <div class="menu-container">
        <div class="navbar">
            <img src="{% static 'core/img/iqvia.webp' %}" width="100" height="auto" class="img-left">
            <a href="#home">titulo1</a>
            <a href="#services">titulo2</a>
            <div class="dropdown">
                <button class="dropbtn">titulo3 <i class="fa fa-caret-down"></i></button>
                <div class="dropdown-content">
                    <a href="#product1">Producto 1</a>
                    <a href="#product2">Producto 2</a>
                    <a href="#product3">Producto 3</a>
                </div>
            </div>
            <a href="#contact">titulo4o</a>
        </div>
    </div>

    <div class="centered-box">
        <div class="row">
            <form method="post" enctype="multipart/form-data" id="formulario">
                {% csrf_token %}
                <div>
                    {{ form.as_table }}  <!-- Muestra los campos del formulario -->
                </div>
                <button type="submit">Subir</button>
            </form>
        </div>
        
    </div>

    <script src="{% static 'core/js/script.js' %}"></script>
</body>
</html>
