<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario Centrado</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="static/img">
    <link href="static/style.css" rel="stylesheet" >
    <style>
        .form-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh; /* Ocupa toda la altura de la página */
        }
        .form-box {
            border: 1px solid #ccc;
            padding: 20px;
            border-radius: 10px;
            background-color: #f9f9f9;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
    </style>
<body>

    {% include 'partials/navbar.html' %}

    <!-- Si hay un mensaje de éxito, mostrarlo -->
    {% if success_message %}
    <p>{{ success_message }}</p>
    <!-- Agregar botón para procesar archivos -->
    <a href="{% url 'procesar_archivos' registro.id %}" class="btn btn-success">Procesar y Descargar Informe</a>
    {% endif %}

    <!-- Mostrar el formulario -->
    <div class="container form-container">
        <div class="form-box">
            <form method="POST" enctype="multipart/form-data">
                <h1 class="text-center">Subir</h1>
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary d-block w-100">Subir</button>
            </form>
        </div>
    </div>

    {% include 'partials/footer.html' %}


    
</body>
</html>